
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="span5 offset4 smurfy text-center">

	<h1 class="custom-h1">
		I'm Nonso
	</h1>

	<h2>
		I'm having fun coding!!
	</h2>

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="span5 offset4 smurfy text-center">

    <%= link_to 'Add A New Image', new_pic_path, :class => 'btn btn-warning btn-large' %>

 </div>