<% @pics.each_slice(3) do |slice| %>
	<div class='row'>
		<% slice.each do |pic| %>
			<div class="smurfy span4 text-center">

				<h1 class = "custom-h1">
					Title: <%= pic.title %>
				</h1> 

				<br/>

				<h2>
					Subitle: <%= pic.subtitle %>
				</h2>

				<br/>

				<%= image_tag pic.image %>

				<h2>
					Message: <%= pic.message %>
				</h2>

		</div>

		<% end %>
	</div>
	<br/>
	<br/>
<% end %>
